.task-board-template {
  .title-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .help-icon {
      margin-right: 10px;
    }
  }

  .tasks-area {
    height: 90%;
    display: flex;

    .task-area {
      margin: 0px 10px;
      flex: 1;
    }
  }
}
